@font-face {
  font-family: "Calibri";
  src:  url("./assets/fonts/calibri_r.ttf") format("truetype") font-weight-normal,
        url("./assets/fonts/calibrib.ttf") format("truetype") font-weight-bold,
        url("./assets/fonts/calibril.ttf") format("truetype") font-italic;
}

@font-face {
  font-family: "Arimo";
  src:  url("./assets/fonts/Arimo.Regular.ttf") format("truetype") font-weight-normal,
        url("./assets/fonts/Arimo-Bold.ttf") format("truetype") font-weight-bold,
        url("./assets/fonts/Arimo-Italic.ttf") format("truetype") font-italic;
}

@font-face {
  font-family: "Fantasia";
  src:  url("./assets/fonts/Fantasia.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src:  url("./assets/fonts/Helvetica.ttf") format("truetype") font-weight-normal,
        url("./assets/fonts/Helvetica-Bold.ttf") format("truetype") font-weight-bold,
}


@font-face {
  font-family: "angelface";
  src:  url("./assets/fonts/angelface.otf") format("opentype");
}

@font-face {
  font-family: "angelique_rose_font_ffp_0";
  src:  url("./assets/fonts/angelique_rose_font_ffp_0.ttf") format("truetype");
}

@font-face {
  font-family: "argentina_script";
  src:  url("./assets/fonts/argentina_script.ttf") format("truetype");
}

@font-face {
  font-family: "arabella";
  src:  url("./assets/fonts/arabella.ttf") format("truetype");
}

@font-face {
  font-family: "avenirltstd_book";
  src:  url("./assets/fonts/avenirltstd_book.otf") format("opentype");
}
@font-face {
  font-family: "avenirltstd_medium";
  src:  url("./assets/fonts/avenirltstd_medium.otf") format("opentype");
}
@font-face {
  font-family: "avenirltstd_roman";
  src:  url("./assets/fonts/avenirltstd_roman.otf") format("opentype");
}

@font-face {
  font-family: "Baskerville";
  src:  url("./assets/fonts/baskerville.ttf") format("truetype");
}

@font-face {
  font-family: "brasileirinha_personal_use";
  src:  url("./assets/fonts/brasileirinha_personal_use.ttf") format("truetype");
}

@font-face {
  font-family: "brightlight";
  src:  url("./assets/fonts/brightlight.ttf") format("truetype");
}

@font-face {
  font-family: "Cambria";
  src:  url("./assets/fonts/cambria.ttf") format("truetype");
}

@font-face {
  font-family: "edwardian_scr_itc_tt";
  src:  url("./assets/fonts/edwardian_scr_itc_tt.ttf") format("truetype");
}

@font-face {
  font-family: "honeymoon_personal_use";
  src:  url("./assets/fonts/honeymoon_personal_use.ttf") format("truetype");
}

@font-face {
  font-family: "magnificent";
  src:  url("./assets/fonts/magnificent.ttf") format("truetype");
}

@font-face {
  font-family: "mistral";
  src:  url("./assets/fonts/mistral.ttf") format("truetype");
}

@font-face {
  font-family: "otto";
  src:  url("./assets/fonts/otto.ttf") format("truetype");
}

@font-face {
  font-family: "TeamSpiritNF";
  src:  url("./assets/fonts/TeamSpiritNF.ttf") format("truetype");
}
@font-face {
  font-family: "YoureGone-Regular";
  src:  url("./assets/fonts/YoureGone-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Baveuse-Regular";
  src:  url("./assets/fonts/Baveuse-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nervous";
  src:  url("./assets/fonts/Nervous.ttf") format("truetype");
}
@font-face {
  font-family: "WCWunderbachRoughBta";
  src:  url("./assets/fonts/WCWunderbachRoughBta.ttf") format("truetype");
}
@font-face {
  font-family: "ItLivesInTheSwampBRK";
  src:  url("./assets/fonts/ItLivesInTheSwampBRK.ttf") format("truetype");
}
@font-face {
  font-family: "Gwibble";
  src:  url("./assets/fonts/Gwibble.ttf") format("truetype");
}
@font-face {
  font-family: "Ransom";
  src:  url("./assets/fonts/Ransom.ttf") format("truetype");
}
@font-face {
  font-family: "Anklepants";
  src:  url("./assets/fonts/Anklepants.ttf") format("truetype");
}
@font-face {
  font-family: "Kredit-Regular";
  src:  url("./assets/fonts/Kredit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RicksAmericanNF";
  src:  url("./assets/fonts/RicksAmericanNF.ttf") format("truetype");
}
@font-face {
  font-family: "Sofachrome";
  src:  url("./assets/fonts/Sofachrome.ttf") format("truetype");
}
@font-face {
  font-family: "ShogunsClan";
  src:  url("./assets/fonts/ShogunsClan.ttf") format("truetype");
}
@font-face {
  font-family: "AirstreamNF";
  src:  url("./assets/fonts/AirstreamNF.ttf") format("truetype");
}
@font-face {
  font-family: "peachsundress";
  src:  url("./assets/fonts/peachsundress.ttf") format("truetype");
}
@font-face {
  font-family: "Zoikabold";
  src:  url("./assets/fonts/Zoikabold.ttf") format("truetype");
}
@font-face {
  font-family: "Equivalent-Bold";
  src:  url("./assets/fonts/Equivalent-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AurachTri";
  src:  url("./assets/fonts/AurachTri.ttf") format("truetype");
}
@font-face {
  font-family: "Rye-Regular";
  src:  url("./assets/fonts/Rye-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "betterPersonalUse";
  src:  url("./assets/fonts/betterPersonalUse.ttf") format("truetype");
}
@font-face {
  font-family: "Answer-Regular";
  src:  url("./assets/fonts/Answer-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Doughnut-Monster__G";
  src:  url("./assets/fonts/Doughnut-Monster__G.ttf") format("truetype");
}
@font-face {
  font-family: "SoccerLeague-Regular";
  src:  url("./assets/fonts/SoccerLeague-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Suggested-Regular";
  src:  url("./assets/fonts/Suggested-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Games";
  src:  url("./assets/fonts/Games.ttf") format("truetype");
}
@font-face {
  font-family: "BudmoJiggler-Regular";
  src:  url("./assets/fonts/BudmoJiggler-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Calibri";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* span, h4, p, h6 {
  font-family: "Calibri" !important;
} */

/* Scroll bar hide */
html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

li {
  list-style: none !important;
}

/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 6px;
  border: 4px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}